/* Jinx_Get_Jinxed 1 */
.Jinx_Get_Jinxed {
position: absolute;
left: 8.39%;
right: 7.6%;
top: 6.65%;
bottom: 1.27%;
position: relative;
z-index: 100;

background: url(./images/Jinx_Get_Jinxed.png);
}

/* lague of legends logo 1 */
.lague of legends logo{
position: absolute;
left: 57.57%;
right: 14.03%;
top: 2.17%;
bottom: 86.49%;

background: url(./images/lol_logo.png);
    position: absolute;
}

