
.about_us-background {
    background-color: #010A13;
}

.abou_us-background {
    background-color: #010A13;
    color: #ffffff;
}

.text-Heavy {
    font-family: BeaufortforLOL-Heavy;
    font-size: 50px;  
}
.text-Normal {
    font-family: BeaufortforLOL;
    font-size: 50px;  
}
.text-Bold {
    font-family: BeaufortforLOL-Bold;
    font-size: 50px;  
}

.text-gold {
    color: var(--gold);
}
.text-white {
    color: var(--white);
}
.text-black {
    color: var(--black);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards; 
}
@keyframes fadeIn {
    to { opacity: 1; }
}
.text-60px {
    font-size: 60px;
}


.team-container {
    display: column;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 30px;
    padding: 20px;
}

.team-intro {
    margin-bottom: 50px;
}
    
.team_member{
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

@media (max-width: 1200px) {
    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .team-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.team_member img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 15px;
    object-fit: cover; /* 이미지를 부모 요소에 맞게 조절 */
    display: block; /* 이미지 주위의 여백 제거 */
    margin-left: auto;
    margin-right: auto;
}

.member {
    /* background-color: #f9f9f9; */
    border: 1px solid var(--gold);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-batch {
    min-width: 20%;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

h2 > ul {
    text-align: left;
}

.decobar {
    margin-top: 20px;
    min-width: 10%;
    max-width: 90%;

}

.team-deco{
    display : flex; /*flex를 이용하겠다.*/
    justify-content: center;
    flex-wrap : nowrap;
    
}

.decowing {
    height: 40px;
}