.champion-header {
    font-family: 'BeaufortforLOL-Heavy';
    font-size: 3vh;
}

.report-background {
    background-color: #010A13;
    color: #ffffff;
}

.champion-text {
    font-family: 'BeaufortforLOL-Bold';
    font-size: 2vh;
}

.main-banner {
    position: relative; 
}

.main-banner-img {
    opacity: 0.5;
}

.banner-text {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 10; 
}


.fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards; 
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.white-text-banner {
    color: var(--white);
    font-family: 'BeaufortforLOL-Bold';
    font-size: 3vh;
}

.white-text-banner-title {
    color: var(--white);
    font-family: 'BeaufortforLOL-Bold';
    font-size: 5vh;
}

@media (max-width: 600px) {
    .white-text-banner {
        color: var(--white);
        font-family: 'BeaufortforLOL-Bold';
        font-size: 16px;
    }
    
    .white-text-banner-title {
        color: var(--white);
        font-family: 'BeaufortforLOL-Bold';
        font-size: 28px;
    }
}

.gap {
    margin-bottom: 32px;
}

.tableaucontainer {
    min-width: 10%;
    max-width: 90%
}

.champion-block {
    margin-bottom: 2em;
    color: #F0E6D2;
}